<div class="addFavUrl" style="display: block;">
  <form class="" action="" method="post" style="display: inline-block">
    <div class="form-group">
      <input type="text" name="url" id="favUrl" placeholder="Link fanpage bạn muốn theo dõi" class="form-control favUrl url">
    </div>
  </form>
  <button type="" id="submitFavUrlBtn" (click)="addFavorite()">Thêm vào danh sách ưa thích</button>
</div>
<div class="panel-fav-urls" style="display: block;">
  <div class="heading">
    Các trang yêu thích đã lưu
  </div>
  <div class="showFavUrl"></div>
</div>
