<div class="sidebar-panel offscreen-left" id="sidebar">
  <div class="brand">
    <div class="brand-logo">
      <img src="/assets/img/trendy.png" height="15" alt="">
    </div>
    <button href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" id="sidebarCollapse"
            data-toggle="layout-small-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <nav class="ps-container">
    <ul class="nav">
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-home" aria-hidden="true"></i> <span>Trang chủ</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Tin tức</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-cutlery" aria-hidden="true"></i> <span>Ăn uống</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-shirtsinbulk" aria-hidden="true"></i> <span>Thời trang</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-film" aria-hidden="true"></i> <span>Phim ảnh</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-futbol-o" aria-hidden="true"></i> <span>Thể thao</span>
        </a>
      </li>
      <li>
        <a onclick="hideSidepanel()">
          <i class="fa fa-eye" aria-hidden="true"></i> <span>Trang theo dõi</span>
        </a>
      </li>
      <li>
        <a onclick="hideSidepanel()">
          <i class="fa fa-heart" aria-hidden="true"></i> <span>Bài viết đã lưu</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
