<div class="sidebar-panel offscreen-left" id="sidebar">
  <div class="brand">
    <div class="brand-logo">
      <img src="/assets/img/trendy.png" height="15" alt="">
    </div>
    <button href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" id="sidebarCollapse"
            data-toggle="layout-small-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <nav class="ps-container" *ngIf="categoryList">
    <ul class="nav">
      <li>
        <a onClick="hideSidepanel()" routerLink="/main/home/all" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i> <span>Tất cả</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()" routerLink="/main/search" routerLinkActive="active">
          <i class="fa fa-search" aria-hidden="true"></i> <span>Tìm kiếm</span>
        </a>
      </li>
      <li *ngFor="let category of categoryList" [routerLink]="['/main/home', category.name]" routerLinkActive="active">
        <a onClick="hideSidepanel()">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>{{category.alias}}</span>
        </a>
      </li>

      <li>
        <a onclick="hideSidepanel()" routerLink="/main/favorite" routerLinkActive="active">
          <i class="fa fa-eye" aria-hidden="true"></i> <span>Trang theo dõi</span>
        </a>
      </li>
      <li>
        <a onclick="hideSidepanel()">
          <i class="fa fa-heart" aria-hidden="true"></i> <span>Bài viết đã lưu</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
