<div class="sidebar-panel offscreen-left" id="sidebar">
  <div class="brand">
    <div class="brand-logo">
      <img src="/assets/img/trendy.png" height="15" alt="">
    </div>
    <button href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" id="sidebarCollapse"
            data-toggle="layout-small-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <nav class="ps-container">
    <ul class="nav">
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-home" aria-hidden="true"></i> <span>Trang chủ</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Tin tức</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-cutlery" aria-hidden="true"></i> <span>Ăn uống</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-shirtsinbulk" aria-hidden="true"></i> <span>Thời trang</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-film" aria-hidden="true"></i> <span>Phim ảnh</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()">
          <i class="fa fa-futbol-o" aria-hidden="true"></i> <span>Thể thao</span>
        </a>
      </li>
      <li>
        <a onclick="hideSidepanel()">
          <i class="fa fa-eye" aria-hidden="true"></i> <span>Trang theo dõi</span>
        </a>
      </li>
      <li>
        <a onclick="hideSidepanel()">
          <i class="fa fa-heart" aria-hidden="true"></i> <span>Bài viết đã lưu</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="main-content">

  <!-- Responsive only -->
  <div class="brand visible-xs">
    <div class="toggle-offscreen">
      <button type="button" name="button" id="sidebarCollapse2">
        <i class="fa fa-bars visible-xs" aria-hidden="true"></i>
      </button>
    </div>
    <div class="brand-logo">
      <img src="/assets/img/trendy_dark.png" height="15" alt="">
    </div>
    <div class="toggle-user">
      <button type="button" class="toggle-user-button" id="userlayoutCollapse">
        <i class="fa fa-circle-thin" aria-hidden="true" id="unloginCollapse"></i>
        <i class="fa fa-check-circle-o" aria-hidden="true" id="loginedCollapse"></i>
      </button>

    </div>
  </div>

  <div class="user-layout visible-xs" id="user-layout">
    <div class="login-panel" id="unloginPanel">
      <div class="">
        <button type="button" name="button" data-toggle="modal" data-target="#login">
          <span class="glyphicon glyphicon-user"></span>
          Đăng nhập
        </button>
      </div>
      <div class="">
        <button type="button" name="button" data-toggle="modal" data-target="#signup">
          <span class="glyphicon glyphicon-log-in"></span>
          Đăng ký
        </button>
      </div>
    </div>

    <div class="login-panel" id="loginedPanel">
      <div class="user">
        <span id="usernameRes"></span>
        <i id="userImgRes" class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
      <div class="">
        <button type="button" onclick="getFavPosts()">
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          Các bài viết đã lưu
        </button>
      </div>
      <div class="">
        <button type="button" id="logout_btn_res">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Đăng xuất
        </button>
      </div>
    </div>
  </div>
  <!--End Responsive-->

  <nav class="header navbar hidden-xs" id="header">
    <div class="navbar-header">
      <p id="current-tab" class="navbar-brand">Trang chủ</p>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <li class="user"><span id="username"></span> <i id="userImg" class="fa fa-user-circle"
                                                      aria-hidden="true"></i></li>
      <li>
        <button type="button" class="btn" data-toggle="modal" data-target="#login" id="login_btn">
          <span class="glyphicon glyphicon-user"></span>
          Đăng nhập
        </button>
      </li>
      <li>
        <button type="button" class="btn" data-toggle="modal" data-target="#signup"
                style="margin-right: 20px;" id="signup_btn">
          <span class="glyphicon glyphicon-log-in"></span>
          Đăng ký
        </button>
      </li>
      <li>
        <button type="button" class="btn" id="logout_btn" style="margin-right: 40px;">
          <span class="glyphicon glyphicon-log-in"></span>
          Đăng xuất
        </button>
      </li>
    </ul>
  </nav>

  <div class="posts">
    <div id="index" style="display:none">
      <div class="aboutNews">
        <h3>Tin tức</h3>
        <div class="gridNews">

        </div>
      </div>
      <div class="aboutFood">
        <h3>Ăn uống</h3>
        <div class="gridFood">

        </div>
      </div>
      <div class="aboutFashion">
        <h3>Thời trang</h3>
        <div class="gridFashion">

        </div>
      </div>
      <div class="aboutFilms">
        <h3>Phim ảnh</h3>
        <div class="gridFilms">

        </div>
      </div>
      <div class="aboutSports">
        <h3>Thể thao</h3>
        <div class="gridSports">

        </div>
      </div>
    </div>

    <!-- Tùy chọn -->

    <div class="addFavUrl">
      <form class="" action="" method="post" style="display: inline-block">
        <div class="form-group">
          <input type="text" name="url" id="favUrl" placeholder="Link fanpage bạn muốn theo dõi"
                 class="form-control favUrl url">
        </div>
      </form>
      <button type="" id="submitFavUrlBtn" onclick="">Thêm vào danh sách ưa thích</button>
    </div>

    <div class="panel-fav-urls" style="display:none">
      <div class="heading">
        Các trang yêu thích đã lưu
      </div>
      <div class="showFavUrl">
        <!-- <div class="favUrls">
          <p class="page-name">Beatvn</p>
          <button type="button" class="remove-page-btn"> <i class="fa fa-minus" aria-hidden="true"></i> Xóa</button>
        </div> -->
      </div>
    </div>
    <!-- Kết thúc tùy chọn -->
    <router-outlet></router-outlet>
  </div>

</div>

