<app-sidebar></app-sidebar>

<div class="main-content">

  <!-- Responsive only -->
  <div class="brand visible-xs">
    <div class="toggle-offscreen">
      <button type="button" name="button" id="sidebarCollapse2">
        <i class="fa fa-bars visible-xs" aria-hidden="true"></i>
      </button>
    </div>
    <div class="brand-logo">
      <img src="/assets/img/logo_dark.png" height="15" alt="">
    </div>
    <div class="toggle-user">
      <button type="button" class="toggle-user-button" id="userlayoutCollapse">
        <i class="fa fa-circle-thin" aria-hidden="true" id="unloginCollapse"></i>
        <i class="fa fa-check-circle-o" aria-hidden="true" id="loginedCollapse"></i>
      </button>

    </div>
  </div>

  <div class="user-layout visible-xs" id="user-layout">
    <div class="login-panel" id="unloginPanel" *ngIf="!authService.isLoggedIn()">
      <div class="">
        <button type="button" name="button" data-toggle="modal" data-target="#login"
                (click)="openModal(loginSignup,true)">
          <span class="glyphicon glyphicon-user"></span>
          Đăng nhập
        </button>
      </div>
      <div class="">
        <button type="button" name="button" data-toggle="modal" data-target="#signup"
                (click)="openModal(loginSignup,false)">
          <span class="glyphicon glyphicon-log-in"></span>
          Đăng ký
        </button>
      </div>
    </div>

    <div class="login-panel" id="loginedPanel" *ngIf="authService.isLoggedIn()">
      <div class="user">
        <span id="usernameRes">{{authService.getCurrentUser().username}}</span>
        <i id="userImgRes" class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
      <div class="">
        <button type="button" onclick="getFavPosts()">
          <i class="fa fa-bookmark-o" aria-hidden="true"></i>
          Các bài viết đã lưu
        </button>
      </div>
      <div class="">
        <button type="button" id="logout_btn_res" (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Đăng xuất
        </button>
      </div>
    </div>
  </div>
  <!--End Responsive-->

  <nav class="header navbar hidden-xs" id="header">
    <div class="navbar-header">
      <p id="current-tab" class="navbar-brand"></p>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <li class="user" *ngIf="authService.isLoggedIn()">
        <span id="username">{{authService.getCurrentUser().username}}</span>
        <i id="userImg"
           class="fa fa-user-circle"
           aria-hidden="true">
        </i>
      </li>
      <li *ngIf="!authService.isLoggedIn()">
        <button type="button" class="btn" data-toggle="modal" data-target="#login" id="login_btn"
                (click)="openModal(loginSignup,true)">
          <span class="glyphicon glyphicon-user"></span>
          Đăng nhập
        </button>
      </li>
      <li *ngIf="!authService.isLoggedIn()">
        <button type="button" class="btn" data-toggle="modal" data-target="#signup"
                style="margin-right: 40px;" id="signup_btn" (click)="openModal(loginSignup,false)">
          <span class="glyphicon glyphicon-log-in"></span>
          Đăng ký
        </button>
      </li>
      <li *ngIf="authService.isLoggedIn()">
        <button type="button" class="btn" id="logout_btn" style="margin-right: 40px;" (click)="logout()">
          <span class="glyphicon glyphicon-log-in"></span>
          Đăng xuất
        </button>
      </li>
    </ul>
  </nav>

  <div class="posts">

    <!-- Tùy chọn -->
    <div class="addFavUrl">
      <form class="" action="" method="post" style="display: inline-block">
        <div class="form-group">
          <input type="text" name="url" id="favUrl" placeholder="Link fanpage bạn muốn theo dõi"
                 class="form-control favUrl url">
        </div>
      </form>
      <button type="" id="submitFavUrlBtn" onclick="">Thêm vào danh sách ưa thích</button>
    </div>
    <div class="panel-fav-urls" style="display:none">
      <div class="heading">
        Các trang yêu thích đã lưu
      </div>
      <div class="showFavUrl">
        <!-- <div class="favUrls">
          <p class="page-name">Beatvn</p>
          <button type="button" class="remove-page-btn"> <i class="fa fa-minus" aria-hidden="true"></i> Xóa</button>
        </div> -->
      </div>
    </div>
    <!-- Kết thúc tùy chọn -->
    <router-outlet></router-outlet>
  </div>
</div>

<div #modalLoginSignup="bs-modal" bsModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-body">
      <app-login (onLoginSuccess)="loggedIn($event)" [(isLoadingLogin)]="isChildLoading"
                 [(isLoadingSignup)]="isChildLoading" [isLogin]="isLogin"></app-login>
    </div>
  </div>
</div>
