iframe {
  display: inline-block;
  text-align: center;
}

.main-content .posts .sort {
  position: relative;
  padding: 0;
  margin-left: 85%;
}

@media screen and (min-width: 768px) {
  .fb-post {
    width: 360px;
  }

  .grid-item {
    width: 360px;
    margin: 0 auto 10px auto;
    text-align: center;
    background: white;
    border-radius: 3px;
  }


  .grid, .gridNews, .gridFood, .gridFashion, .gridFilms, .gridSports {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }
}

.save-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 1;
}

.loading-save-btn{
  position: absolute;
  bottom: 12px;
  right: 30px;
  z-index: 1;
}

.save-btn:hover {
  cursor: pointer;
}

/**** Transitions ****/

.masonry, .masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}
