<div class="sidebar-panel offscreen-left" id="sidebar">
  <div class="brand">
    <div class="brand-logo">
      <a routerLink="/main/home/all"><img src="/assets/img/nav.png" height="15" alt="" ></a>
    </div>
    <button href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" id="sidebarCollapse"
            data-toggle="layout-small-menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <nav class="ps-container">
    <ul class="nav">
      <li>
        <a onClick="hideSidepanel()" routerLink="/admin/category" routerLinkActive="active">
          <i class="fa fa-address-book" aria-hidden="true"></i> <span>Category</span>
        </a>
      </li>
      <li>
        <a onClick="hideSidepanel()" routerLink="/admin/shop" routerLinkActive="active">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i><span>Shop</span>
        </a>
      </li>
    </ul>
  </nav>
</div>


<div class="main-content">

  <!-- Responsive only -->
  <div class="brand visible-xs">
    <div class="toggle-offscreen">
      <button type="button" name="button" id="sidebarCollapse2">
        <i class="fa fa-bars visible-xs" aria-hidden="true"></i>
      </button>
    </div>
    <div class="brand-logo">
      <img src="/assets/img/logo_dark.png" height="15" alt="">
    </div>
    <div class="toggle-user">
      <button type="button" class="toggle-user-button" id="userlayoutCollapse">
        <i class="fa fa-circle-thin" aria-hidden="true" id="unloginCollapse"></i>
        <i class="fa fa-check-circle-o" aria-hidden="true" id="loginedCollapse"></i>
      </button>

    </div>
  </div>

  <div class="user-layout visible-xs" id="user-layout">

    <div class="login-panel" id="loginedPanel" *ngIf="authService.isLoggedIn()">
      <div class="user">
        <span id="usernameRes">{{authService.getCurrentUser().username}}</span>
        <i id="userImgRes" class="fa fa-user-circle" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <!--End Responsive-->

  <nav class="header navbar hidden-xs" id="header">
    <div class="navbar-header">
      <p id="current-tab" class="navbar-brand">Trang Quản trị</p>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="user" *ngIf="authService.isLoggedIn()">
        <span id="username" style="margin-right: 30px">{{authService.getCurrentUser().username}}</span>
        <i id="userImg"
           class="fa fa-user-circle"
           aria-hidden="true">
        </i>
      </li>
    </ul>
  </nav>

  <div class="posts">
    <!-- Tùy chọn -->
    <!-- Kết thúc tùy chọn -->
    <router-outlet></router-outlet>
  </div>
</div>
