<div style="text-align: center">
  <h2>{{title}}</h2>
</div>
<div style="width: 100%">
  <div id="post-container-main" class="grid" [hidden]="!isDataLoaded">

  </div>
</div>

<div *ngIf="isNotFound" class="alert" style="text-align: center">
  <h2>Không có bài post nào cả</h2>
</div>
<div id="post-container-temp" hidden>

</div>
<div *ngIf="isLoading" class="sk-folding-cube loading">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
<a href="javascript:" id="return-to-top" (click)="scrollToTop()"><i class="fa fa-chevron-up"></i></a>

